@page
@model FINAL.Pages.Admin.MessagesModel
@{
}

<div class="row">
    <div class="col-12">
        <h6 class="title">Admin Panel</h6>
        <h1 class="Admin-Header">Messages</h1>
        <hr />
    </div>
    <div id="search-area" class="row col-12">
        <div class="col-12 col-md-6 col-lg-4 col-xl-3"><input class="form-control" id="search-rows" type="text" placeholder="Search.."></div>
        <div class="col-12 col-md-6 col-lg-4 col-xl-3"><input class="form-control d-none" id="refine-search" type="text" placeholder="refined.."></div>
    </div>
    <div class="col-12 col-lg-6 order-2 order-lg-1">
        <h5 class="mt-3">Registered User Queries</h5>

        @foreach (String user in Classes.Messages.adminGetUsers(true))
        {
            <ul class="list-group" id="data-list">
                <!-- message starts -->
                <li id="data-row-@user" class="admin-list shadow" style="border: none; margin-bottom:20px;">
                    <div id="summary-panel-@user" class="row" onclick="OpenDetails('@user')">
                        <div class="col-6 col-md-6 col-xl-4">
                            <b>#@user</b>
                        </div>
                        <div class="col-6 col-md-6 col-xl-3">
                            Chatbox
                        </div>

                        <div class="col-6 col-md-6 col-xl-3">
                            @if (Classes.UserFunctions.userLoggedIn(Classes.UserFunctions.getSessionID(user)))
                            {
                                <b>@Classes.UserFunctions.getUserDetails(user, "Forename") @Classes.UserFunctions.getUserDetails(user, "Surname")</b>
                            }
                            else
                            {
                                <b>GUEST</b>
                            }
                        </div>
                        <div class="col-6 col-md-6 col-xl-2">
                            @Html.Raw(Classes.Messages.getStatusHTML(user)) <!-- New, Read, Closed -->
                        </div>
                    </div>
                    <!-- expanded start -->
                    <div id="expanded-panel-@user" class="row d-none">
                        <div class="col-6">
                            @if (Classes.UserFunctions.userLoggedIn(Classes.UserFunctions.getSessionID(user)))
                            {
                                <b>#@user (<b>@Classes.UserFunctions.getUserDetails(user, "Forename") @Classes.UserFunctions.getUserDetails(user, "Surname")</b>)</b>
                            }
                            else
                            {
                                <b>#@user (GUEST)</b>
                            }
                        </div>
                        <div class="col-6 admin-close-view">
                            <span onclick="closeDetails('@user')"><i class="fas fa-times fa-1-5x"></i></span>
                        </div>
                        <div class="col-12 col-md-12">

                            <div id="send-message-btn" class="row col-12" style="margin-top:15px;">
                                <button type="button" class="btn btn-outline-secondary" onclick="recipient = '@user'; openChat();">Send Message</button>
                                <button type="button" class="btn btn-outline-secondary" style="border:none; color:#00cc0a;"
                                        onclick="markAsSettled('@user');">
                                    Mark as Settled
                                </button>
                            </div>
                            <h4>Corrospondance:</h4>

                            @Html.Raw(Classes.Messages.getAdminMessages(Classes.UserFunctions.getUserID(HttpContext.Request.Cookies["SessionID"]), user))

                        </div>
                    </div>

                    <!-- expanded end -->
                </li>
            </ul>

        }

    </div>

    <div class="col-12 col-lg-6 order-1 order-lg-2">
        <!--
        <div id="data-header" class="row d-none">
            <div class="col-4 col-md-2 col-xl-2">
                <b>UserID ID</b>
            </div>
            <div class="d-none d-md-block col-5 col-md-3 col-xl-3">
                From
            </div>
            <div class="d-none d-md-block col-5 col-md-3 col-xl-2">
                Sent Via
            </div>
            <div class="d-none d-md-block col-5 col-md-3 col-xl-3">
                Date
            </div>
            <div class="d-none d-md-block col-5 col-md-2 col-xl-2">
                Status
            </div>
        </div>
            -->

        <h5 class="mt-3">Guest User Queries</h5>

        @foreach (String user in Classes.Messages.adminGetUsers(false))
        {
            <ul class="list-group" id="data-list">
                <!-- message starts -->
                <li id="data-row-@user" class="admin-list shadow" style="border: none; margin-bottom:20px;">
                    <div id="summary-panel-@user" class="row" onclick="OpenDetails('@user')">
                        <div class="col-6 col-md-6 col-xl-4">
                            <b>#@user</b>
                        </div>
                        <div class="col-6 col-md-6 col-xl-3">
                            Chatbox
                        </div>

                        <div class="col-6 col-md-6 col-xl-3">
                            @if (Classes.UserFunctions.userLoggedIn(Classes.UserFunctions.getSessionID(user)))
                            {
                                <b>@Classes.UserFunctions.getUserDetails(user, "Forename") @Classes.UserFunctions.getUserDetails(user, "Surname")</b>
                            }
                            else
                            {
                                <b>GUEST</b>
                            }
                        </div>
                        <div class="col-6 col-md-6 col-xl-2">
                            @Html.Raw(Classes.Messages.getStatusHTML(user)) <!-- New, Read, Closed -->
                        </div>
                    </div>
                    <!-- expanded start -->
                    <div id="expanded-panel-@user" class="row d-none">
                        <div class="col-6">
                            @if (Classes.UserFunctions.userLoggedIn(Classes.UserFunctions.getSessionID(user)))
                            {
                                <h4>#@user (<b>@Classes.UserFunctions.getUserDetails(user, "Forename") @Classes.UserFunctions.getUserDetails(user, "Surname")</b>)</h4>
                            }
                            else
                            {
                                <h4>#@user (GUEST)</h4>
                            }
                        </div>
                        <div class="col-6 admin-close-view">
                            <span onclick="closeDetails('@user')"><i class="fas fa-times fa-1-5x"></i></span>
                        </div>
                        <div class="col-12 col-md-12">

                            <div id="send-message-btn" class="row col-12" style="margin-top:15px;">
                                <button type="button" class="btn btn-outline-secondary" onclick="recipient = '@user'; openChat();">Send Message</button>
                                <button type="button" class="btn btn-outline-secondary" style="border:none; color:#00cc0a;"
                                        onclick="markAsSettled('@user');">
                                    Mark as Settled
                                </button>
                            </div>
                            <h4>Corrospondance:</h4>

                            @Html.Raw(Classes.Messages.getAdminMessages(Classes.UserFunctions.getUserID(HttpContext.Request.Cookies["SessionID"]), user))

                        </div>
                    </div>

                    <!-- expanded end -->
                </li>
            </ul>

        }

    </div>
</div>



<div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Send Message</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <textarea></textarea>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-ouioui-primary" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-ouioui-primary">Send</button>
            </div>
        </div>
    </div>
</div>