@page
@model FINAL.Pages.Admin.SettingsModel
@{
}

<div id="admin-settings-page" class="row ">
    <div class="col-12">
        <h6 class="title">Admin Panel</h6>
        <h1>Settings</h1>
        <hr />
        <nav>
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                <a class="nav-link active" id="nav-general-tab" data-toggle="tab" href="#nav-general" role="tab" aria-controls="nav-general" aria-selected="true">General</a>
                <a class="nav-link" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="false">Site Pages</a>
                <a class="nav-link" id="nav-shop-tab" data-toggle="tab" href="#nav-shop" role="tab" aria-controls="nav-shop" aria-selected="false">Shop</a>
                <a class="nav-link" id="nav-emails-tab" data-toggle="tab" href="#nav-emails" role="tab" aria-controls="nav-emails" aria-selected="false">Emails</a>
            </div>
        </nav>
        <div class="tab-content shadow-sm p-3 mb-5 bg-white rounded" id="nav-tabContent">
            <div class="tab-pane fade show active" id="nav-general" role="tabpanel" aria-labelledby="nav-general-tab">
                <h4>General Settings</h4>
                <hr />
                <h5>Admin Email Address</h5>
                <p>This is the email address the site uses to contact you once an order has been placed and in other instances like when a customer sends a query.</p>

                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="inputEmail4">Admin Email Address</label>
                        <input type="email" class="form-control" id="inputEmail4" value="@Classes.Settings.getAdminEmail()">
                    </div>
                </div>
                <h5>Shop Address</h5>
                <p>This is displayed in the footer on every page of the website.</p>
                <div class="form-group">
                    <label for="inputAddress">Address</label>
                    <input type="text" class="form-control" id="inputAddress" value="@Classes.Settings.getAddressLine1()">
                </div>
                <div class="form-group">
                    <label for="inputAddress2">Address 2</label>
                    <input type="text" class="form-control" id="inputAddress2" value="@Classes.Settings.getAddressLine2()">
                </div>
                <div class="form-row">
                    <div class="form-group col-md-2">
                        <label for="inputZip">Zip</label>
                        <input type="text" class="form-control" id="inputZip" value="@Classes.Settings.getZipCode()">
                    </div>
                </div>

                <h5>Social Media Settings</h5>
                <p>To be confirmed</p>
                <button type="submit" class="btn btn-primary" onclick="updateSettings();">Update</button>
            </div>
            <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                <h5>Home Page:</h5>

                <div class="form-group">
                    <label for="home-header">Header:</label>
                    <textarea type="textarea" class="form-control" id="home-header" placeholder="header">EUROPEAN 
FASHION</textarea>
                </div>
                <div class="form-group">
                    <label for="home-header-txt">Header Text:</label>
                    <textarea type="textarea" class="form-control" id="home-header-txt" placeholder="header">Trendy and Unique clothes, shoes and accessories from Europe available at Harbour Front Building in Port Louis, at Royal Road in Rose Hill and on-line. 95% of our products are one only to make you feel unique</textarea>
                </div>
                <div class="row">
                    <div class="col-12 col-md-6">
                        <p>Header Image:</p>
                        <div class="input-group mb-3">
                            <div class="custom-file">
                                <input type="file" class="custom-file-input" id="header-img">
                                <label class="custom-file-label" for="header-img" aria-describedby="header-img">Choose file</label>
                            </div>
                            <div class="input-group-append">
                                <span class="input-group-text" id="header-img">Upload</span>
                            </div>
                        </div>
                        <div class="card img-demo"><img src="https://raw.githubusercontent.com/nateainsworth/Group-24/master/Group-24/wwwroot/images/Header-Img.png" /></div>
                    </div>
                    <div class="col-12 col-md-6">
                        <p>Footer Image:</p>
                        <div class="input-group mb-3">
                            <div class="custom-file">
                                <input type="file" class="custom-file-input" id="footer-img">
                                <label class="custom-file-label" for="footer-img" aria-describedby="footer-img">Choose file</label>
                            </div>
                            <div class="input-group-append">
                                <span class="input-group-text" id="footer-img">Upload</span>
                            </div>
                        </div>
                        <div class="card img-demo"><img src="https://github.com/nateainsworth/Group-24/blob/master/Group-24/wwwroot/images/shop-picture.png?raw=true" /></div>
                    </div>
                </div>
                <h5 class="mt-3">About Us Page:</h5>
                <div class="form-group">
                    <label for="home-header">About Us Header:</label>
                    <textarea type="textarea" class="form-control" id="home-header" placeholder="header">ABOUT
US</textarea>
                </div>
                <div class="form-group">
                    <label for="about-header-txt">About Us Text:</label>
                    <textarea type="textarea" class="form-control" id="about-header-txt" placeholder="header">Founded in 2017 by two Entrepreneurs, Sam from Mauritius and Rafal from Poland. Oui Oui Fashion brings unique fashion and latest trends from Europe to Mauritius. Having over 31000 followers on Facebook and over 11000 followers on Instagram Oui Oui Fashion has a well established on-line presence. Our mission is to deliver an outstanding customer service and quality fashion in Mauritius.</textarea>
                </div>

                <h5 class="mt-3">Site Colours:</h5>
                <p>Primary:</p>
                <div id="cp5a" class="input-group" title="Using format option">
                    <input type="text" class="form-control input-lg" value="#A3CCC8" />
                    <span class="input-group-append">
                        <span class="input-group-text colorpicker-input-addon"><i></i></span>
                    </span>
                </div>
                <p>Secondary:</p>
                <div id="cp5b" class="input-group" title="Using format option">
                    <input type="text" class="form-control input-lg" value="#E3E3E3" />
                    <span class="input-group-append">
                        <span class="input-group-text colorpicker-input-addon"><i></i></span>
                    </span>
                </div>
                <p>Font:</p>
                <div id="cp5c" class="input-group" title="Using format option">
                    <input type="text" class="form-control input-lg" value="#000000" />
                    <span class="input-group-append">
                        <span class="input-group-text colorpicker-input-addon"><i></i></span>
                    </span>
                </div>


            </div>
            <div class="tab-pane fade" id="nav-shop" role="tabpanel" aria-labelledby="nav-shop-tab">
                <h4>Shop Settings</h4>
                <h5>Shipping</h5>
                <p>Shipping options which can be applied to products specificly for the product.</p>
                <div class="accordion mb-3 settings-accordion" id="accordionExample">
                    <div class="card">
                        <div class="card-header" id="headingOne">
                            <h2 class="mb-0">
                                <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                    Small Parcel
                                </button>
                            </h2>
                        </div>
                        <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                            <div class="card-body">
                                <div class="form-row">
                                    <div class="form-group col-md-6">

                                        <label for="input-cost-2">Cost Rs</label>
                                        <input type="text" class="form-control" id="input-cost-small" value="@Classes.Settings.getSetting("SmallParcelPrice")">
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="input-type-2">Calculation Type</label>
                                        <select class="custom-select" id="input-type-2">
                                            <option selected>Charge Shipping Per Item</option>
                                            <option value="1">Charge Shipping Using The Highest Class</option>
                                            <option value="2">Add shipping Class Once & Apply Higher Class If Applicable</option>
                                        </select>
                                    </div>

                                </div>
                                <button onclick="updateSmallParcel()" type="submit" class="btn btn-primary">Update</button>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingTwo">
                            <h2 class="mb-0">
                                <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    Large Parcel
                                </button>
                            </h2>
                        </div>
                        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                            <div class="card-body">
                                <form>
                                    <div class="form-row">
                                        <div class="form-group col-md-6">

                                            <label for="input-cost-2">Cost Rs</label>
                                            <input type="text" class="form-control" id="input-cost-large" value="@Classes.Settings.getSetting("LargeParcelPrice")">
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label for="input-type-2">Calculation Type</label>
                                            <select class="custom-select" id="input-type-2">
                                                <option>Charge Shipping Per Item</option>
                                                <option value="1" selected>Charge Shipping Using The Highest Class</option>
                                                <option value="2">Add shipping Class Once & Apply Higher Class If Applicable</option>
                                            </select>
                                        </div>

                                    </div>
                                    <button onclick="updateLargeParcel()" type="submit" class="btn btn-primary">Update</button>
                                </form>
                            </div>
                        </div>
                    </div>
                    <!--
            <div class="card">
                <div class="card-header" id="headingThree">
                    <h2 class="mb-0">
                        <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            Add New Shipping Class
                        </button>
                    </h2>
                </div>
                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                    <div class="card-body">
                        <form>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="input-class-2">Class Name</label>
                                    <input type="text" class="form-control" id="input-class-2" value="" placeholder="e.g. Large Parcel">
                                </div>
                                <div class="form-group col-md-6">

                                    <label for="input-cost-2">Cost Rs</label>
                                    <input type="text" class="form-control" id="input-cost-2" value="" placeholder="e.g. 1000">
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="input-type-2">Calculation Type</label>
                                    <select class="custom-select" id="input-type-2">
                                        <option selected>Charge Shipping Per Item</option>
                                        <option value="1">Charge Shipping Using The Highest Class</option>
                                        <option value="2">Add shipping Class Once & Apply Higher Class If Applicable</option>
                                    </select>
                                </div>

                            </div>
                            <button type="submit" class="btn btn-primary">Add Shipping Class</button>
                        </form>
                    </div>
                </div>
            </div>
                -->
                </div>

                <div class="row">
                    <div class="col-12 col-lg-6">
                        <h5>Product Categories</h5>
                        <p>
                            Catagories for products. These define different product areas within the shop. For easy browsing of the website.<br>
                            Changes to categories will be saved automatically.
                        </p>
                        <div id="category-select" class="form-control category-select">
                            @Html.Raw(Classes.Settings.getCategories())
                        </div>
                        <input type="text" class="form-control input-category" id="input-category" placeholder="New Category">
                        <button class="add-cat-btn btn category-line" onclick="addCategory()"><p>Add Category</p> <i class="fas fa-plus add-category-i"></i></button>
                    </div>
                    <div class="col-12 col-lg-6 admin-tags">
                        <h5>Product Tags</h5>
                        <p>Pre-defined tags to make tagging products faster and easier, giving quick snippets of information and allowsing products to be found easier.</p>
                        <input id="admin-product-tags" class="tags-selection-cont" type="text" value="Teal,Blue,White,Red,Yellow,Long,Summer,Autumn,Winter,Warm,V-neck,Relaxed-Fit,long-Sleeve,Green,Purple,Brown,Black,Cream,Ivory,Maroon,Turquoise,Sage,Navy,Pink,Peach,Orange,Mustard,Duck Egg,Beige,Stright Fit,Baggy,Boot Cut,Sandal,Wedge,Boot,Stileto,Flat,Trainer,Vest,Cropped,T-shirt,Denim,Lace,Midi,Maxi,Bodycon,Hoodie,Sweatshirt,Blouse,Tunic,Jacket,Parka,Skinny,Shaping,Slim,High Wasted,Flare,Loose,Dungarees,Jumpsuit,Playsuit,Pump,Espandrillos,Loafers,Slip On,Flip Flop,Slippers,Belt,Jewellery,Necklace,Ring,Earing,Bracelet,Hair,Sunglasses,Scarf,Hat,Purse,Poncho,Tote,Hand Bag,Backpack,Short Sleeve,3/4,RoundNeck" placeholder="Tags" />
                        <input id="predefined-tags" value="@Classes.Settings.getSetting("Tags")" hidden />
                    </div>
                </div>

                <h5>VAT</h5>
                <p>This value should remain the current VAT rate of Mauritius</p>
                <div class="row">
                    <div class="input-group mb-3 col-6">
                        <input type="text" class="form-control" id="input-vat" value="@Classes.Settings.getSetting("VAT")">
                        <select class="custom-select form-control">
                            <option selected>%</option>
                        </select>
                    </div>
                </div>

                <button id="email-update-1" type="submit" class="btn btn-primary mb-2" onclick="saveShopChanges();">Save Changes</button>

            </div>
            <div class="tab-pane fade" id="nav-emails" role="tabpanel" aria-labelledby="nav-emails-tab">
                <h5>Email Settings</h5>
                <p>Site Email template edit</p>
                <div class="accordion" id="email-accordion">
                    <div class="card">
                        <div class="card-header" id="email-heading-1">
                            <h2 class="mb-0">
                                <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#email-collapse-1" aria-expanded="false" aria-controls="collapseThree">
                                    Order Recieved
                                </button>
                            </h2>
                        </div>
                        <div id="email-collapse-1" class="collapse" aria-labelledby="headingThree" data-parent="#email-accordion">
                            <div class="card-body">
                                <div class="form-group">
                                    <label for="input-subject-1">Subject</label>
                                    <input type="text" class="form-control" id="input-subject-1" value="@Classes.Settings.getEmailSubject(1)">
                                </div>

                                <div class="form-group">
                                    <label for="input-subject-1">Heading</label>
                                    <input type="text" class="form-control" id="input-heading-1" value="@Classes.Settings.getEmailHeading(1)">
                                </div>

                                <div class="form-group">
                                    <label for="input-body-1">Body</label>
                                    <textarea type="text" class="form-control" id="input-body-1" value="@Classes.Settings.getEmailBody(1)">Body</textarea>
                                </div>
                                <button id="email-update-1" type="submit" class="btn btn-primary mb-2" onclick="updateEmailTemplate(1);">Update</button>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="email-heading-2">
                            <h2 class="mb-0">
                                <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#email-collapse-2" aria-expanded="false" aria-controls="collapseThree">
                                    Processing Order
                                </button>
                            </h2>
                        </div>
                        <div id="email-collapse-2" class="collapse" aria-labelledby="headingThree" data-parent="#email-accordion">
                            <div class="card-body">
                                <div class="form-group">
                                    <label for="input-subject-2">Subject</label>
                                    <input type="text" class="form-control" id="input-subject-2" value="@Classes.Settings.getEmailSubject(2)">
                                </div>

                                <div class="form-group">
                                    <label for="input-subject-2">Heading</label>
                                    <input type="text" class="form-control" id="input-heading-2" value="@Classes.Settings.getEmailHeading(2)">
                                </div>

                                <div class="form-group">
                                    <label for="input-body-2">Body</label>
                                    <textarea type="text" class="form-control" id="input-body-2" value="@Classes.Settings.getEmailBody(2)">Body</textarea>
                                </div>
                                <button id="email-update-2" type="submit" class="btn btn-primary mb-2" onclick="updateEmailTemplate(2);">Update</button>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="email-heading-3">
                            <h2 class="mb-0">
                                <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#email-collapse-3" aria-expanded="false" aria-controls="collapseThree">
                                    Order Dispached
                                </button>
                            </h2>
                        </div>
                        <div id="email-collapse-3" class="collapse" aria-labelledby="headingThree" data-parent="#email-accordion">
                            <div class="card-body">
                                <div class="form-group">
                                    <label for="input-subject-3">Subject</label>
                                    <input type="text" class="form-control" id="input-subject-3" value="@Classes.Settings.getEmailSubject(3)">
                                </div>

                                <div class="form-group">
                                    <label for="input-subject-3">Heading</label>
                                    <input type="text" class="form-control" id="input-heading-3" value="@Classes.Settings.getEmailHeading(3)">
                                </div>

                                <div class="form-group">
                                    <label for="input-body-3">Body</label>
                                    <textarea type="text" class="form-control" id="input-body-3" value="@Classes.Settings.getEmailBody(3)">Body</textarea>
                                </div>
                                <button id="email-update-3" type="submit" class="btn btn-primary mb-2" onclick="updateEmailTemplate(3);">Update</button>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="email-heading-4">
                            <h2 class="mb-0">
                                <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#email-collapse-4" aria-expanded="false" aria-controls="collapseThree">
                                    Order Delivered
                                </button>
                            </h2>
                        </div>
                        <div id="email-collapse-4" class="collapse" aria-labelledby="headingThree" data-parent="#email-accordion">
                            <div class="card-body">
                                <div class="form-group">
                                    <label for="input-subject-4">Subject</label>
                                    <input type="text" class="form-control" id="input-subject-4" value="@Classes.Settings.getEmailSubject(4)">
                                </div>

                                <div class="form-group">
                                    <label for="input-subject-4">Heading</label>
                                    <input type="text" class="form-control" id="input-heading-4" value="@Classes.Settings.getEmailHeading(4)">
                                </div>

                                <div class="form-group">
                                    <label for="input-body-4">Body</label>
                                    <textarea type="text" class="form-control" id="input-body-4" value="@Classes.Settings.getEmailBody(4)">Body</textarea>
                                </div>
                                <button id="email-update-4" type="submit" class="btn btn-primary mb-2" onclick="updateEmailTemplate(4);">Update</button>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="email-heading-5">
                            <h2 class="mb-0">
                                <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#email-collapse-5" aria-expanded="false" aria-controls="collapseThree">
                                    Order Cancelled
                                </button>
                            </h2>
                        </div>
                        <div id="email-collapse-5" class="collapse" aria-labelledby="headingThree" data-parent="#email-accordion">
                            <div class="card-body">
                                <div class="form-group">
                                    <label for="input-subject-5">Subject</label>
                                    <input type="text" class="form-control" id="input-subject-5" value="@Classes.Settings.getEmailSubject(5)">
                                </div>

                                <div class="form-group">
                                    <label for="input-subject-5">Heading</label>
                                    <input type="text" class="form-control" id="input-heading-5" value="@Classes.Settings.getEmailHeading(5)">
                                </div>

                                <div class="form-group">
                                    <label for="input-body-5">Body</label>
                                    <textarea type="text" class="form-control" id="input-body-5" value="@Classes.Settings.getEmailBody(5))">Body</textarea>
                                </div>
                                <button id="email-update-5" type="submit" class="btn btn-primary mb-2" onclick="updateEmailTemplate(5);">Update</button>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="email-heading-6">
                            <h2 class="mb-0">
                                <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#email-collapse-6" aria-expanded="false" aria-controls="collapseThree">
                                    Order Refunded
                                </button>
                            </h2>
                        </div>
                        <div id="email-collapse-6" class="collapse" aria-labelledby="headingThree" data-parent="#email-accordion">
                            <div class="card-body">
                                <div class="form-group">
                                    <label for="input-subject-6">Subject</label>
                                    <input type="text" class="form-control" id="input-subject-6" value="@Classes.Settings.getEmailSubject(6)">
                                </div>

                                <div class="form-group">
                                    <label for="input-subject-6">Heading</label>
                                    <input type="text" class="form-control" id="input-heading-6" value="@Classes.Settings.getEmailHeading(6)">
                                </div>

                                <div class="form-group">
                                    <label for="input-body-6">Body</label>
                                    <textarea type="text" class="form-control" id="input-body-6" value="@Classes.Settings.getEmailBody(6)">Body</textarea>
                                </div>
                                <button id="email-update-6" type="submit" class="btn btn-primary mb-2" onclick="updateEmailTemplate(6);">Update</button>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="email-heading-7">
                            <h2 class="mb-0">
                                <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#email-collapse-7" aria-expanded="false" aria-controls="collapseThree">
                                    Customer Note
                                </button>
                            </h2>
                        </div>
                        <div id="email-collapse-7" class="collapse" aria-labelledby="headingThree" data-parent="#email-accordion">
                            <div class="card-body">
                                <div class="form-group">
                                    <label for="input-subject-7">Subject</label>
                                    <input type="text" class="form-control" id="input-subject-7" value="@Classes.Settings.getEmailSubject(7)">
                                </div>

                                <div class="form-group">
                                    <label for="input-subject-7">Heading</label>
                                    <input type="text" class="form-control" id="input-heading-7" value="@Classes.Settings.getEmailHeading(7)">
                                </div>

                                <div class="form-group">
                                    <label for="input-body-7">Body</label>
                                    <textarea type="text" class="form-control" id="input-body-7" value="@Classes.Settings.getEmailBody(7)">Body</textarea>
                                </div>
                                <button id="email-update-7" type="submit" class="btn btn-primary mb-2" onclick="updateEmailTemplate(7);">Update</button>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="email-heading-8">
                            <h2 class="mb-0">
                                <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#email-collapse-8" aria-expanded="false" aria-controls="collapseThree">
                                    Reset Password
                                </button>
                            </h2>
                        </div>
                        <div id="email-collapse-8" class="collapse" aria-labelledby="headingThree" data-parent="#email-accordion">
                            <div class="card-body">
                                <div class="form-group">
                                    <label for="input-subject-8">Subject</label>
                                    <input type="text" class="form-control" id="input-subject-8" value="@Classes.Settings.getEmailSubject(8)">
                                </div>

                                <div class="form-group">
                                    <label for="input-subject-8">Heading</label>
                                    <input type="text" class="form-control" id="input-heading-8" value="@Classes.Settings.getEmailHeading(8)">
                                </div>

                                <div class="form-group">
                                    <label for="input-body-8">Body</label>
                                    <textarea type="text" class="form-control" id="input-body-8" value="@Classes.Settings.getEmailBody(8)">Body</textarea>
                                </div>
                                <button id="email-update-8" type="submit" class="btn btn-primary mb-2" onclick="updateEmailTemplate(8);">Update</button>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="email-heading-9">
                            <h2 class="mb-0">
                                <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#email-collapse-9" aria-expanded="false" aria-controls="collapseThree">
                                    New Account Welcome
                                </button>
                            </h2>
                        </div>
                        <div id="email-collapse-9" class="collapse" aria-labelledby="headingThree" data-parent="#email-accordion">
                            <div class="card-body">
                                <div class="form-group">
                                    <label for="input-subject-9">Subject</label>
                                    <input type="text" class="form-control" id="input-subject-9" value="@Classes.Settings.getEmailSubject(9)">
                                </div>

                                <div class="form-group">
                                    <label for="input-subject-9">Heading</label>
                                    <input type="text" class="form-control" id="input-heading-9" value="@Classes.Settings.getEmailHeading(9)">
                                </div>

                                <div class="form-group">
                                    <label for="input-body-9">Body</label>
                                    <textarea type="text" class="form-control" id="input-body-9" value="@Classes.Settings.getEmailBody(9)">Body</textarea>
                                </div>
                                <button id="email-update-9" type="submit" class="btn btn-primary mb-2" onclick="updateEmailTemplate(9);">Update</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>  