@page
@model Group_Project.Models.BasketModel
@{
}

<div id="basket-page" class="container">
    <h1 class="page-title">BASKET</h1>
    <hr />
    <div class="row">
        @Html.Raw(Classes.Basket.getBasketHtml(HttpContext.Request.Cookies["SessionID"]))
        <hr width="100% " style="margin:15px;" />
        <div class="col-4 col-md-8"></div>
        <div class="col-8 col-md-4">

            <div class="order-summary ">
                <div class="container">
                    <div class="row">
                        <div class="col-8">TOTAL EXC VAT:</div>
                        <div class="col-4"><p>Rs <span id="order-total">@Classes.Utility.formatPrice(Classes.Basket.getTotalMinusVat(Classes.UserFunctions.getUserID(HttpContext.Request.Cookies["SessionID"])).ToString())</span></p></div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-8">VAT ADDED:</div>
                        <div class="col-4"><p>Rs <span id="vat-amount">@Classes.Utility.formatPrice(Classes.Basket.getVatAmount(Classes.UserFunctions.getUserID(HttpContext.Request.Cookies["SessionID"])).ToString())</span></p></div>
                    </div>
                    <hr />
                    <div class="row">
                        <div class="col-8">TOTAL INC VAT:</div>
                        <div class="col-4"><p>Rs <span id="vat-total">@Classes.Utility.formatPrice(Classes.Basket.getTotalPrice(Classes.UserFunctions.getUserID(HttpContext.Request.Cookies["SessionID"]), null).ToString())</span></p></div>
                    </div>

                    <button class="btn btn-ouioui mt-3" style="width:100%; margin-bottom:20px;" onclick="window.location.href = '/Checkout';">CHECKOUT</button>
                </div>
            </div>

        </div>
        <div class="row" id="other-products">
            <div class="col-12 ">
                <h6>FEATURED PRODUCTS</h6>
                <div class="row">
                    @Html.Raw(Classes.ProductFunctions.getFeaturedProductsHTML())
                </div>
            </div>

        </div>
    </div>
</div>

<div class="page-footer">
    <div class="row page-footer-container">
        <div class="col-12 col-md-6 col-xl-3 order-4 order-xl-1">
            <p>
                <a>Terms & Conditions</a><br />
                <a>Returns Policy</a><br />
                <a>Privacy Policy</a><br />
                <a>Delivery Information</a>
            </p>

            <p>Phone: +230 5988 0400</p>
        </div>
        <div class="col-12 col-md-6 col-xl-3 order-3 order-xl-2">
            <p>
                Address:<br />
                Harbour Front Building,<br />
                President John Kennedy St,<br />
                Port Louis,<br />
                Mauritius
            </p>
        </div>
        <div class="col-12 col-md-6=12 col-xl-3 row order-2 order-xl-3">
            <div class="col-12"><p>Opening Hours:</p></div>
            <div class="col-6"><p>Mon - Fri<br />Saturday<br />Sunday</p></div>
            <div class="col-6 px-4"><p>10am - 5pm<br />10am - 5pm<br />10am - 1pm</p></div>
        </div>
        <div class="col-12 col-md-8 px-4 col-xl-3 row subscribe-row order-1 order-xl-4">
            <h3>BE UP TO DATE WITH OUR NEWS!</h3>
            <form class="form-group">
                <input type="email" class="form-control mb-3" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="EMAIL">
                <button class="btn btn-ouioui-secondary">SUBSCRIBE</button>
            </form>
        </div>
    </div>



</div>

