@page
@model Group_Project.Models.CheckoutModel
@{ 
    Model.onLoad();
}

<div id="personal-details">
    <form asp-action="@Model.checkout()">
        <h2>Your Details</h2>
        <input name="name" type="text" placeholder="name" value="@Model.name">
        <input name="addressline1" type="text" placeholder="address line 1" value="@Model.addressline1">
        <input name="postcode" type="text" placeholder="postcode" value="@Model.postcode">
        <input name="phonenumber" type="text" placeholder="phone number" value="@Model.phonenumber">
        <h2>Payment Details</h2>
        <input name="cardnumber" type="text" placeholder="card number" value="@Model.cardnum">
        <input name="expiry" type="text" placeholder="expiry date" value="@Model.expiry">
        <input name="cv2" type="text" placeholder="cv2" value="@Model.cv2">
        <input name="promocode" type="text" placeholder="promo code">
        <button type="submit">Purchase</button>
    </form>
    <p style="color:red;">@TempData["checkoutError"];</p>
    <h1>TOTAL PRICE: @Classes.Basket.getTotalPrice(Classes.UserFunctions.getUserID(HttpContext.Request.Cookies["SessionID"]))</h1>
</div>

@Html.Raw(Model.getCheckoutItemsHtml(HttpContext.Request.Cookies["SessionID"]))

