@page
@model Group_Project.Models.Community
@{
    Model.onLoad();
}
<!-- Modal -->
<div class="modal fade" id="about-modal" tabindex="-1" aria-labelledby="aboutModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="requestModalLabel">About @Model.communityName</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                  <p><b>@Model.communityName HAS:</b></p>
                    <p>@Model.members MEMBERS</p>
                    <p><b>BIO:</b></p>
                    <p>@Model.communityBio</p> 

            </div>
            <div class="modal-footer">
                <button type="button" class="arc-btn" data-dismiss="modal">CLOSE</button>
            </div>

        </div>
    </div>
</div>

@if (Classes.Communities.getCommunityMemberPermissionLevel(Classes.DBFunctions.getUsernameFromSessionID(HttpContext.Request.Cookies["SessionID"]), Model.communityID) > 0)
{
    <!-- Modal -->
    <div class="modal fade" id="request-modal" tabindex="-1" aria-labelledby="requestModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="requestModalLabel">JOIN REQUESTS</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>The following users have requested to join the community:</p>
                    @Html.Raw(Classes.Communities.getJoinRequests(@Model.communityID))
                </div>
                <div class="modal-footer">
                    <button type="button" class="arc-btn" data-dismiss="modal">DONE</button>
                </div>

            </div>
        </div>
    </div>

    <!--

    <div class="alert" id="requests-box" style="visibility: hidden; max-width:500px; height: 700px;
            overflow: hidden scroll; background-color:var(--background-1); border: solid 2px var(--text); left:calc(50% - 250px); color:#c2c2c2;">

            <span class="closebtn" onclick="this.parentElement.style.visibility ='hidden';">&times;</span>
            @Html.Raw(Classes.Communities.getJoinRequests(@Model.communityID))
        </div>
        -->
}

<div id="main">
    <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 arc-main-feed" id="activity-feed-container">
            <div class="arc-community-header" style="background-image:url('/images/banner.png');">
                <div class="row">
                    <div class="col-md-12 col-lg-5 picture-container">
                        <img class="community-picture" src="@Model.back">
                    </div>
                    <div class="col-md-12 col-lg text-container">
                        <div class="text-position">
                            <h1 style="color:white;">@Model.communityName</h1>
                            <p style="color:white;">@Model.communityBio</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="arc-community-btns">
                <div class="row">
                    <div class="col-6 col-lg-3">
                        <button type="button" id="sub-btn" class="arc-btn @Model.subButtonText" onclick="@Model.subButtonAction" @Model.enabled>@Model.subButtonText</button>
                    </div>
                    <div class="col-6 col-lg-3 ">
                        <button type="button" class="shadow-green arc-btn" onclick="@Model.postAction">@Model.postText</button>
                    </div>
                    <div class="col-6 col-lg-3">
                        @if (@Model.aboutText == "ABOUT")
                        {
                            <button type="button" class="shadow-green arc-btn" data-toggle="modal" data-target="#about-modal" onclick="@Model.aboutAction">@Model.aboutText</button>
                        }
                        else
                        {
                            <button type="button" class="shadow-green arc-btn" data-toggle="modal" data-target="#request-modal" onclick="@Model.aboutAction">@Model.aboutText</button>
                        }
                    </div>
                    <div class="col-6 col-lg-3">
                        <button type="button" class="shadow-green arc-btn" onclick="@Model.reportAction">@Model.reportButton</button>
                    </div>
                </div>
            </div>
            @Html.Raw(Model.getPosts())
        </div>
        <button class="arc-btn" style="margin-bottom:55px;" onclick="requestPosts(0);">LOAD MORE</button>
    </div>
</div>

