@page
@model Group_Project.Models.CreateAccount
@{
    Model.onLoad();
    Layout = null;
}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.0/font/bootstrap-icons.css">
<link rel="stylesheet" href="~/lib/fontawesome/css/all.css">
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap-grid.css" />
<link href="~/lib/bootstrap/bootstrap-tagsinput.css" rel="stylesheet" />
<link rel="stylesheet" href="@Url.Content("~/css/main.css")" />
<style>
    @@font-face {
        font-family: 'Abel';
        font-style: normal;
        font-weight: 400;
        font-display: swap;
        src: url('/MwQ5bhbm2POE2V9BPQ.woff2') format('woff2');
        unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
    }
</style>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/bootstrap-tagsinput.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js"></script>
<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/chat.js"></script>

<!-- Modal -->
<div class="modal fade" id="recovery-modal" tabindex="-1" aria-labelledby="recoveryModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="recoveryModalLabel">RECOVERY CODE</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p><b id="Recovery-code"></b></p>
                <p>PLEASE MAKE A NOTE OF THIS AND KEEP IT SAFE. WITHOUT IT, YOU WON'T BE ABLE TO CHANGE YOUR PASSWORD.</p>

            </div>
            <div class="modal-footer">
                <button type="button" class="arc-btn" data-dismiss="modal">CLOSE</button>
            </div>

        </div>
    </div>
</div>


<div class="alert" id="alert-box" style="visibility:hidden; cursor:pointer;">
    <strong>UH-OH</strong> <p id="alert-message"></p>
</div>

<div class="success" id="success-box" style="visibility:hidden; cursor:pointer;">
    <strong>SUCCESS</strong> <p id="success-message"></p>
</div>

<div id="login-backdrop"></div>
<div id="logo-container"></div>
<div id="create-usr-container">
    <div class="row contents">

        <div class="col-2">
        </div>
        <div class="col-8 create-login-field-row">
            <div id="create-panel" class="row ">
                <div class="col-12"><h2>CREATE ACCOUNT</h2></div>
                <div class="col-12">
                    <input type="text" class="form-control create-input" id="Username" name="Username" placeholder="USERNAME" required autocomplete="off"/>
                </div>
                <div class="col-12">
                    <input type="text" class="form-control create-input" id="Display-name" name="Display-name" placeholder="DISPLAY NAME" required hidden value="null" autocomplete="off"/>
                </div>
                <div class="col-12">
                    <input type="text" class="form-control create-input" id="Email" name="Email" placeholder="EMAIL" required autocomplete="off"/>
                </div>
                <div class="col-6">
                    <input type="password" class="form-control create-input" id="Password" name="Password" placeholder="PASSWORD" required autocomplete="off"/>
                </div>
                <div class="col-6">
                    <input type="password" class="form-control create-input" id="ConfirmPassword" name="ConfirmPassword" placeholder="CONFIRM PASSWORD" required autocomplete="off"/>
                </div>
                <div class="col-12">
                    <!--<input type="date" id="dob-input" name="dob-input"> -->
                    <input type="checkbox" id="imold" name="imold" value="Age" style="display: block;" hidden checked>
                    <p>BY CLICKING CONTINUE,</p>I AGREE TO THE <a href="https://www.bbc.co.uk/news/election-2019-50524262" ><p style="color:white;">TERMS AND CONDITIONS</p></a> & AGREE THAT I AM ATLEAST 13 YEARS OF AGE<br>
                </div>
                <p style="color:red;">@TempData["LoginError"]</p>
                <p style="color:red;">@TempData["RecoveryCode"]</p>
                <div class="col-12">
                    <button type="button" class="arc-btn sign-in-btn col-12" onclick="createAccount();">CONTINUE</button>
                </div>
                <div class="col-12 sign-up-msg"><p>ALREADY HAVE AN ACCOUNT?<br /><a href="/Login"><span class="sign-up-btn">LOGIN</span></a></p></div>
            </div>
            <div id="com-select-panel" class="row hidden ">
                <div class="col-12"><h2>SELECT YOUR<br />COMMUNITIES</h2></div>
                <div class="com-grid">

                    @for (int i = 0; i < Model.Communities.Count; i++)
                    {
                        <label id="community-label-@Model.CommunityID[i]" style="background:url(@Model.CommunityPP[i])" class="community-label-@Model.CommunityID[i] com-grid-item form-check-label" for="Community-Check-@Model.CommunityID[i]">
                            <input class="form-check-input" type="checkbox" value="@Model.CommunityID[i]" name="Community-Check-@Model.CommunityID[i]" id="Community-Check-@Model.CommunityID[i]" onclick="subscribe(@Model.CommunityID[i]);">
                            <p class="circle-text"> @Model.Communities[i]</p>
                        </label>
                    }
                </div>
                <div class="col-12">
                    
                        <button class="arc-btn sign-in-btn col-12" onclick="window.location.href = '/';" type="submit" >SIGN UP</button>
                    
                </div>

            </div>
        </div>
        <div class="col-2">
        </div>
    </div>
</div>